[Desktop Entry]
Name=gzdoom
Exec=gzdoom --snap-launcher
Comment=GL Doom engine source port
Keywords=doom;gzdoom
Type=Application
Icon=${SNAP}/gzdoom.png
Categories=Game;
StartupNotify=true
